<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Иконки FontAwersome https://fontawesome.com/start -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Учёт электродвигателей предприятия</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">

            {#Навигационное верхнее меню #}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="img/motor_icon.jpg" width="40" height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Моторы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Пользователи</a>
                        </li>
                    </ul>
                    {% if logged == false %}
                        {# Форма входа #}
                        <form class="form-inline" method="post" action="index.php">
                            <input type="hidden" name="user" value="Login" />
                            <input class="form-control mr-2 my-2" type="text" placeholder="Email" aria-label="Email" name="email">
                            <input class="form-control mr-2" type="password" placeholder="Пароль" aria-label="Пароль" name="password">
                            <button class="btn btn-outline-success my-2" type="submit">Вход</button>
                        </form>
                    {% else %}
                        {# Меню пользователя #}
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-atom"></i> Настройки
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Пользователь</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="index.php?user=LogOut"><i class="fas fa-sign-out-alt"></i>  Выход</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="working-area">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-7 ">
            <div class="footer text-white px-5">Система учета электродвигателей</div>
        </div>
        <div class="col-lg-5">
            <div class="footer text-white px-5">©Железняков Андрей Викторович</div>
        </div>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

