{% extends "layout.twig" %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        Авторизуйтесь в системе.
    </div>
    <img src="img/engines.jpg" class="img-fluid" alt = "Engines">

{% endblock %}
